<!DOCTYPE html>
<html>
<head>
    <title>Usuarios por estado usuario</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h2>Gráfico de barras: Usuarios por estado usuario</h2>
    <canvas id="chart"></canvas> 

    <script>
    const estadoUsuarios = [{% for estadoUsuario in estadoUsuarios %}"{{ estadoUsuario.estado_usuario }}"{% if not forloop.last %}, {% endif %}{% endfor %}];
    const productosPorCategoria = [{% for cantidad in usuarios_por_estadoUsuarios %}{{ cantidad }}{% if not forloop.last %}, {% endif %}{% endfor %}];

    const ctx = document.getElementById('chart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: categorias,
            datasets: [{
                label: 'Cantidad de usuarios',
                data: productosPorCategoria,
                backgroundColor: 'rgba(54, 162, 235, 0.8)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>
</body>
</html>
