{% load static %}


<!DOCTYPE html>
<html>
<head>
    <title>Productos por marca</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <div class="contenedor_grafico">
        <h2>Gráfico de barras: Marcas</h2>
        <canvas id="chart"></canvas>
        div.class_chart-container        
    </div>

    <script>
    const marcas = [{% for marca in marcas %}"{{ marca.marca }}"{% if not forloop.last %}, {% endif %}{% endfor %}];
    const productosPorMarca = [{% for cantidad in productos_por_marca %}{{ cantidad }}{% if not forloop.last %}, {% endif %}{% endfor %}];

    const ctx = document.getElementById('chart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: marcas,
            datasets: [{
                label: 'Cantidad de productos',
                data: productosPorMarca,
                backgroundColor: 'rgba(54, 162, 235, 0.8)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>
</body>
</html>
