@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/*VARIABLES DE CSS - para ocupar en todos el documento*/

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1; 
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

/*VARALBES DE CSS - para el tema oscupa del dashboard*/

.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* Estilos globales para todo el sitio*/


* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*Estilos globales para todo el documento de html*/

html {
    font-size: 14px;
}

/*estilos globales para el cuerpo del documento html*/

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);

}


body {
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}


/*se define la disposicion del "container" que es div pricipal del sitio*/

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

/*variables globales para cada una de la etiquetas del documento HTML*/

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;

}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.85rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);

}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.contenedor-1{
    margin: 0;
}

/*Se define la navegacion principal de la parte izquierda el sitio (aside)*/




aside {
    height: 100vh;
    background-color: var(--color-background);
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;

}

aside .logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

aside .logo h2 {
    font-size: 15px;
}

aside .logo img {
    width: 2rem;
    height: 2rem;
}

aside .close {
    display: none;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;

}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    background-color: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: '';
    width: 6px;
    height: 100%;
    background-color: var(--color-primary);

}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

aside .sidebar .message-count {
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/*fin de los estilos del aside (menu de navegacion principal)*/

/*-------------------------------------------------------------------------*/

/*se definen los estilos de la parte principal de sitio web (main)*/

main {
    margin: 0;
}

.main-dashboard{
    margin-top: 1.4rem;
}

main .date {
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}


main .date input[type='date'] {
    background-color: transparent;
    color: var(--color-dark);
}

main .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .insights>div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights>div:hover {
    box-shadow: none;

}

main .insights>div span {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights>div.expenses span {
    background-color: var(--color-danger);
}

main .insights>div.income span {
    background-color: var(--color-success);
}

main .insights>div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights svg {
    width: 7rem;
    height: 7rem;
}

main .insights svg circle {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

main .insights .sales svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .insights .expenses svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}

main .insights .income svg circle {
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}

main .insights .progress .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.insights small {
    margin-top: 1.6rem;
    display: block;
}

main .recent-orders {
    margin-top: 2rem;
}

main .recent-orders h2 {
    margin-bottom: 0.8rem;

}

main .recent-orders table {
    background-color: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300 ease;
}

main .recent-orders table:hover {
    box-shadow: none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
    
}

main .recent-ordersk a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

/*fin de los estilos del parte principal del sitio (main)*/

/*------------------------------------------------------------------------------------*/

/*se definen los estilos de la parte derecha del sitio, donde se pueden ver las ultimas novedades y estidisticas del sitio*/

.right {
    margin-top: 1.4rem;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .top button {
    display: none;
}

.right .theme-toggler {
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);

}

.right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active {
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;

}


.right .recent-updates {
    margin-top: 1rem;
}


.right .recent-updates h2 {
    margin-bottom: 0.8rem;
}

.right .recent-updates .updates {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;

}

.right .recent-updates .updates:hover {
    box-shadow: none;
}

.right .recent-updates .updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

.right .sales-analytics {
    margin-top: 2rem;
}

.right .sales-analytics h2 {
    margin-bottom: 0.8rem;
}

.right .sales-analytics .item {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transform: all 300ms ease;
}

.right .sales-analytics .item:hover {
    box-shadow: none;

}

.right .sales-analytics .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;

}

.right .sales-analytics .item .icon {
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background-color: var(--color-primary);
    display: flex;

}

.right .sales-analytics .item.offline .icon {
    background-color: var(--color-danger);

}

.right .sales-analytics .item.customers .icon {
    background-color: var(--color-success);
}

.right .sales-analytics .add-product {
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .sales-analytics .add-product:hover {
    background-color: var(--color-primary);
    color: white;
}

.right .sales-analytics .add-product div {
    display: flex;
    align-items: center;
    gap: 0.6rem;

}

.right .sales-analytics .add-product div h3 {
    font-weight: 600;
}

/* fin de los estilos de la parte derecha del sitio*/




.container-productos {
    display: grid;
    width: 99%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
}

.contenedor {
    background-color: rgb(214, 214, 214);
}



/*//////////////////////////////////*/

/*PAGINA DE PRODUCTOS*/

/*//////////////////////////////////*/


/*se le dan los estilos a la fraja superior del sitio, donde se pueden observar el perfil y las notificaciones*/


.usuario_notificaciones-nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
    background-color: white;
    height: 70px;
    

}

.directorio h3 {
    color: black;
    font-size: 20px;
    margin: 0;
}

.profile-cuenta {
    display: flex;
    align-items: center;

}


.profile-cuenta div:first-child span {
    font-size: 30px;
    margin-right: 50px;
}

.profile-cuenta div:nth-child(2) span {
    font-size: 40px;
    margin-right: 10px;
}

.profile-cuenta div:last-child span {
    margin-top: 3px;
    margin-right: 40px;
}


.profile-cuenta a {
    color: rgb(46, 46, 46);
}

/*fin de los estilos de la parte superior de la paginas de informacion*/

/*estilos de el contenido privado de las parginas de informacion (tablas, filtros y SCRUD)*/


.contenido_privado-productos {
    background-color: rgb(214, 214, 214);
    display: grid;
    grid-template-rows: 1.6fr 2.3fr 15fr;
    padding: 20px;
    gap: 10px;
}

.descripcion-producto {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
}

.descripcion-producto div>h3 {
    font-size: 20px;
    color: black;
    margin-left: 20px;
    margin-bottom: 0;

}

.agregar-producto-button_access {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-right: 20px;
}


.agregar-producto-button_access a {
    padding: 10px 30px;
    color: rgb(36, 36, 36);
    background-color: #A8D300;
    border-radius: 10px;
}

.agregar-producto-button_access a i {
    margin-left: 5px;
}

.agregar-producto-button_access span {
    margin: auto;
    color: black;
    font-size: 28px;
}



.filtrar-producto {
    background-color: white;
    border-radius: 7px;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search-producto_filtrar p {
    margin-bottom: 7px;


}

.search-producto_filtrar input {
    background-color: rgb(214, 214, 214);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    width: 500px;
}

.categoria-producto_filtrar p {
    margin-bottom: 5px;
}

.marca-producto_filtrar p {
    margin-bottom: 5px;
}

.boton-productos_filtrar a {
    padding: 10px 40px;
    background-color: #7EB2FE;
    border-radius: 7px;
    color: black;
}

.dropdown {
    width: 250px;
}


#modal::backdrop {
    background-color: rgba(0, 0, 0, 0.782);

}

#modal {
    width: 600px;
    border: none;
    margin: auto;
    max-width: 90%;
    padding: 15px;
}

.formulario-agregar_producto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 3fr 1fr;
    gap: 10px;
}

.formulario-agregar_usuario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

/*Se definen los estilos del formulario, para las partes del SCRUP como agregar y editar de todos los formularios*/

#modal h3 {
    font-size: 22px;
    margin: 15px 5px 10px 5px;
}

.formulario-agregar div, .div_formulario-agregar {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 5px;
}

.formulario-agregar div div, .div_formulario-agregar div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.formulario-agregar div input , .div_formulario-agregar input{
    padding: 10px;
    font-size: 18px;
    background-color: #dddddd;
    width: 100%;
    height: 80%;
    border: none;
    outline: #7b7b7b;
}

.formulario-agregar_producto div:last-child,
.formulario-agregar_usuario div:last-child {
    grid-column: 1/3;
}



.formulario-agregar textarea, .div_formulario-agregar textarea {
    height: 90%;
    padding: 10px;
    font-size: 18px;
    background-color: #dddddd;
    width: 100%;
    border: none;
    outline: #7b7b7b;
    

}

.formulario-agregar_producto div img {
    width: 100%;
}

.formulario-agregar button, .div_formulario-agregar button {
    padding: 10px 50px;
    border-radius: 7px;
    background-color: #A8D300;
    margin: auto;
    border: none;
    transition: all 200ms ease;
}

.formulario-agregar button:hover, .div_formulario-agregar button:hover{
    background-color: #9abf07;
    box-shadow: 10px 18px 41px -20px rgba(0, 0, 0, 0.48);
}

.imagen_formulario img{
        height: 200px;
        width: 225px;
        margin-bottom: 20px;
}

div.seleccionar_archivo-form > input{
    width: 100%;
    font-size: 12px;
}

.edit-td, .delete-td{
    height: 100%;
    width: 100%;
}



.delete-td_div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}





/*TABLA /////////////////////////////////////////////////////////////////*/



/*TABLA /////////////////////////////////////////////////////////////*/

/*se definen los estilos de las tablas, de todos las paginas de informacion y se editan las filas y columnas*/

.tabla-admin {
    background-color: white;
    border-radius: 7px;
}

.t-admin {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    background: white;
}

.th-admin th,
.td-admin td {
    border: 1px solid lightgray;
    padding: 8px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tr-admin th:first-child,
.tr-admin td:first-child {
    width: 40px;
}

.th-tr_productos th:last-child,
.td-tr_productos td:last-child,
.th-tr_productos th:nth-child(8),
.th-tr_productos th:nth-child(9),
.td-tr_productos td:nth-child(8),
.td-tr_productos td:nth-child(9) {
    text-align: center;
    width: 60px;
}


.td-tr_productos td:last-child,
.td-tr_productos td:nth-child(8),
.td-tr_productos td:nth-child(9) {
    cursor: pointer;
}

/*tablaaaaaaaaaaaaa Marcas*/
.th-tr_marcas th:last-child,
.td-tr_marcas td:last-child,
.th-tr_marcas th:nth-child(4),
.td-tr_marcas td:nth-child(4) {
    width: 40px;
}

/*tablaaaaaaaaaaaaa categorias*/
.th-tr_categorias th:last-child,
.td-tr_categorias td:last-child,
.th-tr_categorias th:nth-child(5),
.td-tr_categorias td:nth-child(5) {
    width: 40px;
}

.th-tr_categorias th:nth-child(4),
.td-tr_categorias td:nth-child(4) {
    width: 80px;
}

.th-tr_categorias th:nth-child(2),
.td-tr_categorias td:nth-child(2) {
    width: 80px;
}

/*tabla valoraciones*/
.th-tr_valoracion th:last-child,
.td-tr_valoracion td:last-child {
    width: 40px;
}


.th-tr_valoracion th:nth-child(2),
.td-tr_valoracion td:nth-child(2),
.th-tr_valoracion th:nth-child(3),
.td-tr_valoracion td:nth-child(3),
.th-tr_valoracion th:nth-child(5),
.td-tr_valoracion td:nth-child(5) {
    width: 100px;
}

.imagen_tabla-td {
    text-align: center;
}

.imagen_tabla {
    width: 50px;
    height: 50px;
    display: inline-block;
}


.botones_table{
    text-align: center;
    width: 60px;
}

/*//////////////////////////////////////*/


.tWrap td,
.tWrap th {
    text-align: center;
}

.th-admin th {
    background: rgb(200, 200, 200);
    color: white;
    text-transform: uppercase;
    font-weight: normal;
}

table .tr-admin:first-child td {
    border-top: none;
}

.container-1 {
    background: transparent;
    width: 100%;
    padding: 24px;
    height: 640px;
    margin: 0;
}

.tWrap {
    height: 100%;
    overflow: visible;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tWrap__head {
    flex: 0 0 37px;
}

.tWrap__body {
    overflow-y: scroll;
}


/* .container{
    overflow-y: scroll;
} */












































































 

/*media querys*/

/*se editan los estilos para los tamaños de la mayoria de los dispositivos y se configuran todas las disposiciones de los dispositivos*/


/*se editan los estilos para dispositivos como un ancho maximo de 1500px*/

@media screen and (max-width:1500px) {
    .filtrar-producto {}

    .search-producto_filtrar input {
        width: 300px;
    }

    .dropdown {
        width: 130px;
    }

    .td-tr_productos td:nth-child(5),
    .td-tr_productos td:nth-child(6) {
        display: none;
    }

    .th-tr_productos th:nth-child(5),
    .th-tr_productos th:nth-child(6) {
        display: none;
    }
}


/*se editan los estilos para dispositivos como un ancho maximo de 1200px*/
@media screen and (max-width:1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    .container-productos {
        width: 98%;
        grid-template-columns: 5.5rem auto;
    }

    aside .logo h2 {
        display: none;
    }


    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;

    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-orders {
        width: 94%;
        position: absolute;
        left: 44.5%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;

    }

    main .recent-orders {
        width: 83vw;
    }

    main table thead tr th:last-child,
    main table thead tr th:first-child {
        display: none;
    }

    main table tbody tr td:last-child,
    main table tbody tr td:first-child {
        display: none;
    }

    
}

/*se editan los estilos para dispositivos como un ancho maximo de 950px*/
@media screen and (max-width:950px) {
    .search-producto_filtrar input {
        width: 160px;
    }

    .dropdown {
        width: 130px;
    }
}

/*se editan los estilos para dispositivos como un ancho maximo de 768px*/
@media screen and (max-width:768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .container-productos {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100%;
        background-color: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .logo {
        margin-left: 1rem;
    }

    aside .logo h2 {
        display: inline;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;

    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
    }

    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .recent-orders {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
        left: 50.5%;
    }

    main .recent-orders table {
        width: 100%;
        margin: 0;
    }

    .right {
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background-color: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right .top .theme-toggler {
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right .profile .info {
        display: none;
    }

    .right .top button {
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right .top button span {
        font-size: 2rem;
    }



    .boton-productos_filtrar a {
        padding: 10px 20px;
    }

    .td-tr_productos td:nth-child(7) {
        display: none;
    }

    .th-tr_productos th:nth-child(7) {
        display: none;
    }


    .th-tr_productos th:last-child,
    .td-tr_productos td:last-child,
    .th-tr_productos th:nth-child(8),
    .th-tr_productos th:nth-child(9),
    .td-tr_productos td:nth-child(8),
    .td-tr_productos td:nth-child(9) {
        width: 40px;

    }
}


/*se editan los estilos para dispositivos como un ancho maximo de 630px*/
@media screen and (max-width:630px) {

    /* .descripcion-producto{
        height: 60px;
    } */

    .usuario_notificaciones-nav{
        box-shadow: -31px 20px 300px 4px rgba(0,0,0,1);
    }

    .filtrar-producto {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .search-producto_filtrar {
        width: 100%;
    }

    .search-producto_filtrar input {
        width: 100%;
    }

    .categoria-producto_filtrar {
        width: 100%;
    }

    .marca-producto_filtrar {
        width: 100%;
    }

    .dropdown {
        width: 100%;
    }

    .boton-productos_filtrar {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .boton-productos_filtrar a {
        padding: 10px 100px;
    }

    .contenido_privado-productos {
        grid-template-rows: 0.6fr 2.3fr 15fr;
    }

    .agregar-producto-button_access {
        width: 50%;
    }

    #btn-abrir-modal {
        text-align: center;
    }

    #btn-abrir-modal i {
        display: none;
    }

    .profile-cuenta div:first-child span {
        font-size: 25px;
        margin-right: 15px;
    }

    .profile-cuenta div:nth-child(2) span {
        font-size: 25px;
        margin-right: 5px;
    }

    .profile-cuenta div:last-child span {
        margin-top: 3px;
        margin-right: 0px;
    }


    .profile-cuenta a {
        color: rgb(46, 46, 46);
    }

    .td-tr_productos td:nth-child(4) {
        display: none;
    }

    .th-tr_productos th:nth-child(4) {
        display: none;
    }

    .th-tr_valoracion th:nth-child(3),
    .td-tr_valoracion td:nth-child(3),
    .th-tr_valoracion th:nth-child(5),
    .td-tr_valoracion td:nth-child(5)  {
        display: none;
    }

}


